 # Instructions:
 - For all cells marked with <font color="red">(CODE Needed)</font> below, replace `#CODE_HERE` with your solution

# 1. Load Spark Context (No CODE Needed)

In [20]:
from pyspark import SparkContext, SparkConf
myconf = SparkConf() \
        .setMaster("local[*]") 
        #.set("spark.driver.cores",4) \
        #.set("spark.executor.memory","2g") 
sc = SparkContext(conf=myconf)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-c24a73648561>:5

# 2. Load some printing functions (No CODE Needed)

In [21]:
#These are some printing helper functions we will use to make the output more clear
from pprint import pprint
def title(s):
    pprint("---- %s -----" %s)    
    
def see(s, v):
    pprint("---- %s -----" %s)
    pprint(v)

# 3. Load each file in an RDD and add the year to the data (No CODE Needed)

In [22]:
def createOneYearRdd(year):
    file = "../data/flight-data/csv/%s"%year+"*"
    see("year:"+str(year), file)
    fileRDD =sc.textFile(file)
    linesRDD = fileRDD.filter(lambda x:  not x.startswith("DEST_")) \
              .filter(lambda line: line.count(',')==2)
    arrRDD = linesRDD.map(lambda line: (line.split(","), year))
    see("rdd count for year:"+str(year), arrRDD.count())
    title("rdd elements for year:"+str(year))
    for arr in (arrRDD.take(5)):
        print(arr)
    return arrRDD

separateRDDs  = list(map(createOneYearRdd, range(2010,2016)))
                 
see("array of RDDs", separateRDDs)

'---- year:2010 -----'
'../data/flight-data/csv/2010*'
'---- rdd count for year:2010 -----'
253
'---- rdd elements for year:2010 -----'
(['United States', 'Romania', '1'], 2010)
(['United States', 'Ireland', '264'], 2010)
(['United States', 'India', '69'], 2010)
(['Egypt', 'United States', '24'], 2010)
(['Equatorial Guinea', 'United States', '1'], 2010)
'---- year:2011 -----'
'../data/flight-data/csv/2011*'
'---- rdd count for year:2011 -----'
253
'---- rdd elements for year:2011 -----'
(['United States', 'Saint Martin', '2'], 2011)
(['United States', 'Guinea', '2'], 2011)
(['United States', 'Croatia', '1'], 2011)
(['United States', 'Romania', '3'], 2011)
(['United States', 'Ireland', '268'], 2011)
'---- year:2012 -----'
'../data/flight-data/csv/2012*'
'---- rdd count for year:2012 -----'
243
'---- rdd elements for year:2012 -----'
(['United States', 'Croatia', '1'], 2012)
(['United States', 'Ireland', '252'], 2012)
(['Egypt', 'United States', '13'], 2012)
(['United States', 'India', '62'], 2012)
(['United States', 'Singapore', '25'], 2012)
'---- year:2013 -----'
'../data/flight-data/csv/2013*'
'---- rdd count for year:2013 -----'
246
'---- rdd elements for year:2013 -----'
(['United States', 'Romania', '12'], 2013)
(['United States', 'Croatia', '1'], 2013)
(['United States', 'Ireland', '266'], 2013)
(['Egypt', 'United States', '13'], 2013)
(['United States', 'India', '60'], 2013)
'---- year:2014 -----'
'../data/flight-data/csv/2014*'
'---- rdd count for year:2014 -----'
239
'---- rdd elements for year:2014 -----'
(['United States', 'Saint Martin', '1'], 2014)
(['United States', 'Romania', '12'], 2014)
(['United States', 'Croatia', '2'], 2014)
(['United States', 'Ireland', '291'], 2014)
(['United States', 'India', '62'], 2014)
'---- year:2015 -----'
'../data/flight-data/csv/2015*'
'---- rdd count for year:2015 -----'
254
'---- rdd elements for year:2015 -----'
(['United States', 'Romania', '15'], 2015)
(['United States', 'Croatia', '1'], 2015)
(['United States', 'Ireland', '344'], 2015)
(['Egypt', 'United States', '15'], 2015)
(['United States', 'India', '62'], 2015)
'---- array of RDDs -----'
[PythonRDD[116] at RDD at PythonRDD.scala:48,
 PythonRDD[117] at RDD at PythonRDD.scala:48,
 PythonRDD[118] at RDD at PythonRDD.scala:48,
 PythonRDD[119] at RDD at PythonRDD.scala:48,
 PythonRDD[120] at RDD at PythonRDD.scala:48,
 PythonRDD[121] at RDD at PythonRDD.scala:48]

# 4. Merge all RDDs into one Rdd  (No CODE Needed)

In [23]:
allYearsRdd  =sc.union(separateRDDs)
see("allYearsRDD count", allYearsRdd.count())
see("allYearsRDD sample", allYearsRdd.takeSample(False, 10, 17))

'---- allYearsRDD count -----'
1488
'---- allYearsRDD sample -----'
[(['United States', 'Paraguay', '14'], 2014),
 (['Senegal', 'United States', '29'], 2011),
 (['United States', 'Samoa', '28'], 2010),
 (['United States', 'Thailand', '4'], 2015),
 (['United States', 'Afghanistan', '5'], 2012),
 (['United States', 'Belgium', '355'], 2010),
 (['United States', 'Sweden', '68'], 2011),
 (['United States', 'Sweden', '119'], 2015),
 (['Czech Republic', 'United States', '13'], 2015),
 (['Namibia', 'United States', '1'], 2011)]

# 5. Compute an RDD containing all flights which departed from  the US  <font color="red">(CODE Needed)</font>
- Hint: make 1 `filter` transformation

In [24]:
fromUSRdd = allYearsRdd.filter(lambda arr:arr[0][1]=='United States')

see("fromUSRdd count",fromUSRdd.count())

see("fromUSRdd take(10)",fromUSRdd.take(10))

'---- fromUSRdd count -----'
765
'---- fromUSRdd take(10) -----'
[(['Egypt', 'United States', '24'], 2010),
 (['Equatorial Guinea', 'United States', '1'], 2010),
 (['Costa Rica', 'United States', '477'], 2010),
 (['Senegal', 'United States', '29'], 2010),
 (['Guyana', 'United States', '17'], 2010),
 (['Malta', 'United States', '1'], 2010),
 (['Bolivia', 'United States', '46'], 2010),
 (['Anguilla', 'United States', '21'], 2010),
 (['Turks and Caicos Islands', 'United States', '136'], 2010),
 (['Saint Vincent and the Grenadines', 'United States', '1'], 2010)]

### Expectated output for step 5.

<pre>
'---- fromUSRdd count -----'
765
'---- fromUSRdd take(10) -----'
[(['Egypt', 'United States', '24'], 2010),
 (['Equatorial Guinea', 'United States', '1'], 2010),
 (['Costa Rica', 'United States', '477'], 2010),
 (['Senegal', 'United States', '29'], 2010),
 (['Guyana', 'United States', '17'], 2010),
 (['Malta', 'United States', '1'], 2010),
 (['Bolivia', 'United States', '46'], 2010),
 (['Anguilla', 'United States', '21'], 2010),
 (['Turks and Caicos Islands', 'United States', '136'], 2010),
 (['Saint Vincent and the Grenadines', 'United States', '1'], 2010)]
</pre>

# 6. Create an RDD with a composite key (destination, year) and a value n which is the corresponding number of flights  as an integer <font color="red">(CODE Needed)</font>
- Use the `int()` function to convert a string to an integer
- Hint: make 1 `map` transformation

In [25]:
compositeKeyRdd = fromUSRdd.map(lambda arr:((arr[0][0],arr[1]),int(arr[0][2])))

see("compositeKeyRdd count",compositeKeyRdd.count())

see("compositeKeyRdd take(10)",compositeKeyRdd.take(10))

'---- compositeKeyRdd count -----'
765
'---- compositeKeyRdd take(10) -----'
[(('Egypt', 2010), 24),
 (('Equatorial Guinea', 2010), 1),
 (('Costa Rica', 2010), 477),
 (('Senegal', 2010), 29),
 (('Guyana', 2010), 17),
 (('Malta', 2010), 1),
 (('Bolivia', 2010), 46),
 (('Anguilla', 2010), 21),
 (('Turks and Caicos Islands', 2010), 136),
 (('Saint Vincent and the Grenadines', 2010), 1)]

### Exepected output for step 6
<pre>
'---- compositeKeyRdd count -----'
765
'---- compositeKeyRdd take(10) -----'
[(('Egypt', 2010), 24),
 (('Equatorial Guinea', 2010), 1),
 (('Costa Rica', 2010), 477),
 (('Senegal', 2010), 29),
 (('Guyana', 2010), 17),
 (('Malta', 2010), 1),
 (('Bolivia', 2010), 46),
 (('Anguilla', 2010), 21),
 (('Turks and Caicos Islands', 2010), 136),
 (('Saint Vincent and the Grenadines', 2010), 1)]
 </pre>

# 7. Sum all the flights for the same destination and the same year <font color="red">(CODE Needed)</font>
- Hint: make 1 `reduceByKey` transformation

In [26]:
groupedRdd = compositeKeyRdd.reduceByKey(lambda x,y:x+y)

see("groupedRdd count",groupedRdd.count())

see("groupedRdd take(10)",groupedRdd.take(10))

'---- groupedRdd count -----'
765
'---- groupedRdd take(10) -----'
[(('Suriname', 2010), 12),
 (('Thailand', 2010), 16),
 (('Ethiopia', 2010), 12),
 (('Barbados', 2010), 130),
 (('Cyprus', 2010), 2),
 (('Fiji', 2010), 53),
 (('Federated States of Micronesia', 2010), 46),
 (('French Guiana', 2010), 4),
 (('Netherlands', 2010), 586),
 (('China', 2010), 448)]

### Exepected output for step  7 
<pre>
'---- groupedRdd count -----'
765
'---- groupedRdd take(10) -----'
[(('Ethiopia', 2010), 12),
 (('Fiji', 2010), 53),
 (('Federated States of Micronesia', 2010), 46),
 (('French Guiana', 2010), 4),
 (('Netherlands', 2010), 586),
 (('Denmark', 2010), 98),
 (('Belgium', 2010), 408),
 (('Guatemala', 2010), 386),
 (('Vietnam', 2010), 1),
 (('South Korea', 2010), 683)]
 </pre>

# 8. Sort the summed data by the highest sum <font color="red">(CODE Needed)</font>
- Hint: make 1 `map` transformation, 1 `sortByKey(ascending=False)`, then 1 `map`

In [27]:
sortedByCountRdd = groupedRdd.map(lambda arr:(arr[1],arr[0])).sortByKey(ascending=False).map(lambda arr:(arr[1],arr[0]))

see("sortedByCountRdd count",sortedByCountRdd.count())

see("sortedByCountRdd take(10)",sortedByCountRdd.take(10))

'---- sortedByCountRdd count -----'
765
'---- sortedByCountRdd take(10) -----'
[(('United States', 2015), 370002),
 (('United States', 2014), 358354),
 (('United States', 2011), 352742),
 (('United States', 2010), 348113),
 (('United States', 2012), 347452),
 (('United States', 2013), 343132),
 (('Canada', 2011), 8514),
 (('Canada', 2015), 8399),
 (('Canada', 2010), 8271),
 (('Canada', 2012), 8034)]

### Exepected output for step  8
<pre>
'---- sortedByCountRdd count -----'
765
'---- sortedByCountRdd take(10) -----'
[(('United States', 2015), 370002),
 (('United States', 2014), 358354),
 (('United States', 2011), 352742),
 (('United States', 2010), 348113),
 (('United States', 2012), 347452),
 (('United States', 2013), 343132),
 (('Canada', 2011), 8514),
 (('Canada', 2015), 8399),
 (('Canada', 2010), 8271),
 (('Canada', 2012), 8034)]
 </pre>

# 9. Compute the Sum of all Trips <font color="red">(CODE Needed)</font>
- Hint: make 1 `map` , 1 `sum`

In [28]:
sumAllTrips = sortedByCountRdd.map(lambda arr: int(arr[1])).reduce(lambda x,y: x+y)
see("sumAllTrips", sumAllTrips)

'---- sumAllTrips -----'
2352144

### Exepected output for step  9
<pre>
'---- sumAllTrips -----'
2352144
 </pre>

# 10. Compute the Sum of Each Year's Trip <font color="red">(CODE Needed)</font>
- Hint: make 1 `map` , 1 `reduceByKey`, 1 `collectAsMap`

In [29]:
TPY = groupedRdd.map(lambda arr:(arr[0][1],int(arr[1]))).reduceByKey(lambda x,y:x+y).collectAsMap()

see("TPY", TPY)

'---- TPY -----'
{2010: 385434,
 2011: 390613,
 2012: 385244,
 2013: 380985,
 2014: 397960,
 2015: 411908}

### Exepected output for step  10
<pre>
'---- TPY -----'
{2010: 385434,
 2011: 390613,
 2012: 385244,
 2013: 380985,
 2014: 397960,
 2015: 411908}
 </pre>

# 11. Use the above sums to compute percent Per Year, percent from Total for each country, year pair <font color="red">(CODE Needed)</font>
- Hint: make 1 `map`
- use the function `percent`
- use TPY as a lookup table

In [36]:
def percent(number, total):
    return 100.0* number/float(total)

stats = sortedByCountRdd.map(lambda arr:(arr,percent(arr[1],TPY[arr[0][1]]),percent(arr[1],sumAllTrips)))
                                                    

see("stats count",stats.count())

see("stats take(10)",stats.take(10))

'---- stats count -----'
765
'---- stats take(10) -----'
[((('United States', 2015), 370002), 89.8263689950183, 15.730414464420546),
 ((('United States', 2014), 358354), 90.04774349180822, 15.235206688025903),
 ((('United States', 2011), 352742), 90.30472616118767, 14.99661585345115),
 ((('United States', 2010), 348113), 90.31714898011073, 14.799816677890469),
 ((('United States', 2012), 347452), 90.19011327885704, 14.771714656925766),
 ((('United States', 2013), 343132), 90.06443823247635, 14.588052432164018),
 ((('Canada', 2011), 8514), 2.1796509588774566, 0.36196763463461423),
 ((('Canada', 2015), 8399), 2.039047554308244, 0.3570784781884102),
 ((('Canada', 2010), 8271), 2.145892682015598, 0.3516366344917658),
 ((('Canada', 2012), 8034), 2.0854315706409445, 0.3415607207721976)]

### Exepected output for step  11
<pre>
'---- stats count -----'
765
'---- stats take(10) -----'
[(('United States', 2015), 370002, 89.8263689950183, 15.730414464420546),
 (('United States', 2014), 358354, 90.04774349180822, 15.235206688025903),
 (('United States', 2011), 352742, 90.30472616118767, 14.99661585345115),
 (('United States', 2010), 348113, 90.31714898011073, 14.799816677890469),
 (('United States', 2012), 347452, 90.19011327885704, 14.771714656925766),
 (('United States', 2013), 343132, 90.06443823247635, 14.588052432164018),
 (('Canada', 2011), 8514, 2.1796509588774566, 0.36196763463461423),
 (('Canada', 2015), 8399, 2.039047554308244, 0.3570784781884102),
 (('Canada', 2010), 8271, 2.145892682015598, 0.3516366344917658),
 (('Canada', 2012), 8034, 2.0854315706409445, 0.3415607207721976)]
 </pre>

# 12. Transform the above table into the format below <font color="red">(CODE Needed)</font>
- Hint: make 1 `map`, 1 `groupByKey`, 1 `mapValues` 
- you will also need the python functions `list`, `sorted`, `dict`
- use TPY as a lookup table

In [41]:
preTable = stats.map(lambda arr: (arr[0][0][0],(arr[0][0][1],(arr[0][1],arr[1],arr[2])))).groupByKey().mapValues(lambda lst:dict(lst)).sortByKey()

see("preTable count",preTable.count())

see("preTable take(5)",preTable.take(5))

'---- preTable count -----'
165
'---- preTable take(5) -----'
[('Afghanistan',
  {2010: (11, 0.002853925704530477, 0.0004676584426803801),
   2011: (8, 0.0020480629164927946, 0.0003401152310402764),
   2012: (5, 0.0012978787469759426, 0.00021257201940017278)}),
 ('Algeria',
  {2013: (2, 0.0005249550507237817, 8.50288077600691e-05),
   2014: (9, 0.002261533822494723, 0.000382629634920311),
   2015: (4, 0.0009710906318886742, 0.0001700576155201382)}),
 ('Angola',
  {2010: (14, 0.0036322690784933347, 0.0005952016543204838),
   2011: (13, 0.0033281022393007913, 0.0005526872504404493),
   2012: (12, 0.003114908992742262, 0.0005101728465604147),
   2013: (12, 0.0031497303043426907, 0.0005101728465604147),
   2014: (13, 0.003266659965825711, 0.0005526872504404493),
   2015: (15, 0.003641589869582528, 0.0006377160582005184)}),
 ('Anguilla',
  {2010: (21, 0.0054484036177400025, 0.0008928024814807257),
   2011: (21, 0.005376165155793586, 0.0008928024814807257),
   2012: (19, 0.004931939238508582, 0.0008077736737206565),
   2013: (22, 0.0057745055579616, 0.0009353168853607602),
   2014: (34, 0.008543572218313398, 0.0014454897319211748),
   2015: (41, 0.00995367897685891, 0.0017430905590814169)}),
 ('Antigua and Barbuda',
  {2010: (123, 0.03191207833247715, 0.00522927167724425),
   2011: (146, 0.0373771482259935, 0.006207102966485045),
   2012: (145, 0.03763848366230233, 0.006164588562605011),
   2013: (123, 0.03228473561951258, 0.00522927167724425),
   2014: (115, 0.028897376620765906, 0.0048891564462039735),
   2015: (126, 0.030589354904493236, 0.005356814888884354)})]

### Exepected output for step  12
<pre>
'---- preTable count -----'
165
'---- preTable take(10) -----'
[('Afghanistan',
  {2010: (11, 0.002853925704530477, 0.0004676584426803801),
   2011: (8, 0.0020480629164927946, 0.0003401152310402764),
   2012: (5, 0.0012978787469759426, 0.00021257201940017278)}),
 ('Algeria',
  {2013: (2, 0.0005249550507237817, 8.50288077600691e-05),
   2014: (9, 0.002261533822494723, 0.000382629634920311),
   2015: (4, 0.0009710906318886742, 0.0001700576155201382)}),
 ('Angola',
  {2010: (14, 0.0036322690784933347, 0.0005952016543204838),
   2011: (13, 0.0033281022393007913, 0.0005526872504404493),
   2012: (12, 0.003114908992742262, 0.0005101728465604147),
   2013: (12, 0.0031497303043426907, 0.0005101728465604147),
   2014: (13, 0.003266659965825711, 0.0005526872504404493),
   2015: (15, 0.003641589869582528, 0.0006377160582005184)}),
 ('Anguilla',
  {2010: (21, 0.0054484036177400025, 0.0008928024814807257),
   2011: (21, 0.005376165155793586, 0.0008928024814807257),
   2012: (19, 0.004931939238508582, 0.0008077736737206565),
   2013: (22, 0.0057745055579616, 0.0009353168853607602),
   2014: (34, 0.008543572218313398, 0.0014454897319211748),
   2015: (41, 0.00995367897685891, 0.0017430905590814169)}),
 ('Antigua and Barbuda',
  {2010: (123, 0.03191207833247715, 0.00522927167724425),
   2011: (146, 0.0373771482259935, 0.006207102966485045),
   2012: (145, 0.03763848366230233, 0.006164588562605011),
   2013: (123, 0.03228473561951258, 0.00522927167724425),
   2014: (115, 0.028897376620765906, 0.0048891564462039735),
   2015: (126, 0.030589354904493236, 0.005356814888884354)})]
 </pre>

# 13. Transform the above table into the format below <font color="red">(CODE Needed)</font>
- Hint: make 1 `map`, you will need more than one line in the map, so create a mapping function

In [42]:
def func(s):
    o={}
    o['Country']=s[0]

    for year in list(s[1].keys()):
        lh = ("PcntTotal-%s")%year
        rh = s[1][year][2]
        o[lh] = rh 
   
    for year in list(s[1].keys()):
        lh = ("PcntYear-%s")%year
        rh = s[1][year][1]
        o[lh] = rh

    for year in list(s[1].keys()):
        lh = ("Tot-2010-%s")%year
        rh = s[1][year][0]
        o[lh] = rh

    return(o)

Table = preTable.map(lambda s: func(s))

see("Table count",Table.count())

see("Table take(3)",Table.take(3))

'---- Table count -----'
165
'---- Table take(3) -----'
[{'Country': 'Afghanistan',
  'PcntTotal-2010': 0.0004676584426803801,
  'PcntTotal-2011': 0.0003401152310402764,
  'PcntTotal-2012': 0.00021257201940017278,
  'PcntYear-2010': 0.002853925704530477,
  'PcntYear-2011': 0.0020480629164927946,
  'PcntYear-2012': 0.0012978787469759426,
  'Tot-2010-2010': 11,
  'Tot-2010-2011': 8,
  'Tot-2010-2012': 5},
 {'Country': 'Algeria',
  'PcntTotal-2013': 8.50288077600691e-05,
  'PcntTotal-2014': 0.000382629634920311,
  'PcntTotal-2015': 0.0001700576155201382,
  'PcntYear-2013': 0.0005249550507237817,
  'PcntYear-2014': 0.002261533822494723,
  'PcntYear-2015': 0.0009710906318886742,
  'Tot-2010-2013': 2,
  'Tot-2010-2014': 9,
  'Tot-2010-2015': 4},
 {'Country': 'Angola',
  'PcntTotal-2010': 0.0005952016543204838,
  'PcntTotal-2011': 0.0005526872504404493,
  'PcntTotal-2012': 0.0005101728465604147,
  'PcntTotal-2013': 0.0005101728465604147,
  'PcntTotal-2014': 0.0005526872504404493,
  'PcntTotal-2015': 0.0006377160582005184,
  'PcntYear-2010': 0.0036322690784933347,
  'PcntYear-2011': 0.0033281022393007913,
  'PcntYear-2012': 0.003114908992742262,
  'PcntYear-2013': 0.0031497303043426907,
  'PcntYear-2014': 0.003266659965825711,
  'PcntYear-2015': 0.003641589869582528,
  'Tot-2010-2010': 14,
  'Tot-2010-2011': 13,
  'Tot-2010-2012': 12,
  'Tot-2010-2013': 12,
  'Tot-2010-2014': 13,
  'Tot-2010-2015': 15}]

### Exepected output for step  13
<pre>
'---- Table count -----'
165
'---- Table take(3) -----'
[{'Country': 'Afghanistan',
  'PcntTotal-2010': 0.0004676584426803801,
  'PcntTotal-2011': 0.0003401152310402764,
  'PcntTotal-2012': 0.00021257201940017278,
  'PcntYear-2010': 0.002853925704530477,
  'PcntYear-2011': 0.0020480629164927946,
  'PcntYear-2012': 0.0012978787469759426,
  'Tot-2010': 11,
  'Tot-2011': 8,
  'Tot-2012': 5},
 {'Country': 'Algeria',
  'PcntTotal-2013': 8.50288077600691e-05,
  'PcntTotal-2014': 0.000382629634920311,
  'PcntTotal-2015': 0.0001700576155201382,
  'PcntYear-2013': 0.0005249550507237817,
  'PcntYear-2014': 0.002261533822494723,
  'PcntYear-2015': 0.0009710906318886742,
  'Tot-2013': 2,
  'Tot-2014': 9,
  'Tot-2015': 4},
 {'Country': 'Angola',
  'PcntTotal-2010': 0.0005952016543204838,
  'PcntTotal-2011': 0.0005526872504404493,
  'PcntTotal-2012': 0.0005101728465604147,
  'PcntTotal-2013': 0.0005101728465604147,
  'PcntTotal-2014': 0.0005526872504404493,
  'PcntTotal-2015': 0.0006377160582005184,
  'PcntYear-2010': 0.0036322690784933347,
  'PcntYear-2011': 0.0033281022393007913,
  'PcntYear-2012': 0.003114908992742262,
  'PcntYear-2013': 0.0031497303043426907,
  'PcntYear-2014': 0.003266659965825711,
  'PcntYear-2015': 0.003641589869582528,
  'Tot-2010': 14,
  'Tot-2011': 13,
  'Tot-2012': 12,
  'Tot-2013': 12,
  'Tot-2014': 13,
  'Tot-2015': 15}]
 </pre>

# 14. Optional: Convert the data to a Pandas Dataframe <font color="green">(No CODE Needed)</font>

In [19]:
import pandas as pd

pd.DataFrame(data=Table.collect())

,Country,PcntTotal-2010,PcntTotal-2011,PcntTotal-2012,PcntTotal-2013,PcntTotal-2014,PcntTotal-2015,PcntYear-2010,PcntYear-2011,PcntYear-2012,PcntYear-2013,PcntYear-2014,PcntYear-2015
0,Afghanistan,0.000468,0.000340,0.000213,NaN,NaN,NaN,0.002854,0.002048,0.001298,NaN,NaN,NaN
1,Algeria,NaN,NaN,NaN,0.000085,0.000383,0.000170,NaN,NaN,NaN,0.000525,0.002262,0.000971
2,Angola,0.000595,0.000553,0.000510,0.000510,0.000553,0.000638,0.003632,0.003328,0.003115,0.003150,0.003267,0.003642
3,Anguilla,0.000893,0.000893,0.000808,0.000935,0.001445,0.001743,0.005448,0.005376,0.004932,0.005775,0.008544,0.009954
4,Antigua and Barbuda,0.005229,0.006207,0.006165,0.005229,0.004889,0.005357,0.031912,0.037377,0.037638,0.032285,0.028897,0.030589
5,Argentina,0.007823,0.007780,0.008843,0.007483,0.008290,0.007653,0.047738,0.046849,0.053992,0.046196,0.049000,0.043699
6,Aruba,0.015263,0.014752,0.014838,0.014965,0.014923,0.014710,0.093142,0.088835,0.090592,0.092392,0.088200,0.083999
7,Australia,0.012329,0.011904,0.011776,0.012542,0.012457,0.013987,0.075240,0.071682,0.071902,0.077431,0.073625,0.079872
8,Austria,0.001531,0.001445,0.001445,0.001488,0.001998,0.002636,0.009340,0.008704,0.008826,0.009187,0.011810,0.015052
9,Azerbaijan,0.000043,NaN,NaN,0.000128,0.000298,0.000893,0.000259,NaN,NaN,0.000787,0.001759,0.005098
10,Bahrain,0.001275,0.001701,0.002763,0.002126,0.001743,0.000808,0.007783,0.010240,0.016872,0.013124,0.010303,0.004613
11,Barbados,0.005527,0.005484,0.005144,0.004124,0.004336,0.006547,0.033728,0.033025,0.031409,0.025460,0.025631,0.037387
12,Belarus,NaN,0.000043,0.000043,NaN,NaN,NaN,NaN,0.000256,0.000260,NaN,NaN,NaN
13,Belgium,0.017346,0.015985,0.014965,0.011266,0.011011,0.011011,0.105855,0.096259,0.091371,0.069557,0.065082,0.062878
14,Belize,0.005144,0.004804,0.004804,0.005824,0.006037,0.007993,0.031393,0.028929,0.029332,0.035959,0.035682,0.045641
15,Bermuda,0.007780,0.008120,0.008078,0.006930,0.007865,0.007780,0.047479,0.048898,0.049319,0.042784,0.046487,0.044427
16,Bolivia,0.001956,0.002593,0.001488,0.001403,0.001403,0.001275,0.011935,0.015616,0.009085,0.008662,0.008292,0.007283
17,Brazil,0.042302,0.041196,0.041622,0.038773,0.039411,0.036265,0.258151,0.248072,0.254125,0.239380,0.232938,0.207085
18,British Virgin Islands,0.002083,0.003104,0.003529,0.004294,0.004592,0.004549,0.012713,0.018689,0.021545,0.026510,0.027138,0.025977
19,Brunei,NaN,NaN,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000262,NaN,NaN
20,Bulgaria,0.000043,0.000170,0.000255,NaN,NaN,0.000128,0.000259,0.001024,0.001557,NaN,NaN,0.000728
21,Burkina Faso,NaN,NaN,NaN,NaN,0.000085,0.000043,NaN,NaN,NaN,NaN,0.000503,0.000243
22,Burundi,NaN,NaN,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000262,NaN,NaN
23,Cameroon,NaN,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000260,NaN,NaN,NaN
24,Canada,0.351637,0.361968,0.341561,0.334163,0.339010,0.357078,2.145893,2.179651,2.085432,2.063073,2.003719,2.039048
25,Cape Verde,0.000765,0.000553,0.000808,0.000893,0.001020,0.000850,0.004670,0.003328,0.004932,0.005512,0.006031,0.004855
26,Cayman Islands,0.010501,0.010671,0.010969,0.011649,0.012032,0.013350,0.064084,0.064258,0.066971,0.071919,0.071113,0.076231
27,Chad,NaN,NaN,NaN,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000251,NaN
28,Chile,0.007057,0.007568,0.007568,0.006250,0.006632,0.007398,0.043068,0.045569,0.046204,0.038584,0.039200,0.042242
29,China,0.019046,0.021427,0.021640,0.023085,0.027762,0.032821,0.116233,0.129028,0.132124,0.142525,0.164087,0.187420
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Sint Maarten,0.002593,0.010203,0.010331,0.011521,0.012329,0.013817,0.015826,0.061442,0.063077,0.071131,0.072872,0.078901
136,Slovakia,0.000043,NaN,NaN,NaN,0.000043,NaN,0.000259,NaN,NaN,NaN,0.000251,NaN
137,Solomon Islands,NaN,NaN,0.000085,NaN,NaN,NaN,NaN,NaN,0.000519,NaN,NaN,NaN
138,South Africa,0.001063,0.001020,0.001020,0.001020,0.001360,0.001531,0.006486,0.006144,0.006230,0.006299,0.008041,0.008740
139,South Korea,0.029037,0.030313,0.034819,0.035797,0.041154,0.044555,0.177203,0.182534,0.212593,0.221006,0.243241,0.254426
140,Spain,0.017941,0.018919,0.016581,0.015730,0.016496,0.017856,0.109487,0.113923,0.101235,0.097117,0.097497,0.101965
141,Suriname,0.000510,0.000468,0.000595,0.000638,0.000425,0.000043,0.003113,0.002816,0.003634,0.003937,0.002513,0.000243
142,Sweden,0.002763,0.002508,0.002126,0.002976,0.003996,0.005017,0.016864,0.015104,0.012979,0.018373,0.023620,0.028647
143,Switzerland,0.013392,0.013350,0.012117,0.012244,0.012839,0.012499,0.081726,0.080386,0.073979,0.075594,0.075887,0.071375
144,Taiwan,0.011691,0.010544,0.009736,0.010331,0.011266,0.011309,0.071348,0.063490,0.059443,0.063782,0.066590,0.064578
145,Tanzania,NaN,NaN,NaN,0.000085,NaN,NaN,NaN,NaN,NaN,0.000525,NaN,NaN
146,Thailand,0.000680,0.000510,0.000255,0.000085,NaN,0.000128,0.004151,0.003072,0.001557,0.000525,NaN,0.000728
147,The Bahamas,0.038391,0.034479,0.041452,0.036775,0.040389,0.040601,0.234281,0.207622,0.253086,0.227043,0.238717,0.231848
148,The Gambia,NaN,0.000043,0.000085,NaN,NaN,NaN,NaN,0.000256,0.000519,NaN,NaN,NaN
149,Togo,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000256,NaN,NaN,NaN,NaN
150,Trinidad and Tobago,0.007950,0.008715,0.009183,0.007780,0.007993,0.008971,0.048517,0.052482,0.056068,0.048033,0.047241,0.051225
151,Tunisia,NaN,NaN,0.000085,NaN,0.000085,0.000128,NaN,NaN,0.000519,NaN,0.000503,0.000728
152,Turkey,0.003189,0.004421,0.003996,0.004209,0.003869,0.005867,0.019459,0.026625,0.024400,0.025985,0.022867,0.033503
153,Turks and Caicos Islands,0.005782,0.006930,0.007780,0.007695,0.008205,0.009778,0.035285,0.041729,0.047502,0.047508,0.048497,0.055838
154,Uganda,0.000085,NaN,NaN,NaN,NaN,NaN,0.000519,NaN,NaN,NaN,NaN,NaN
155,Ukraine,0.000808,0.000638,0.000595,0.000170,0.000468,0.000595,0.004930,0.003840,0.003634,0.001050,0.002764,0.003399
156,United Arab Emirates,0.007015,0.006675,0.007993,0.008588,0.010501,0.013605,0.042809,0.040193,0.048800,0.053020,0.062067,0.077687
157,United Kingdom,0.069256,0.073380,0.078737,0.076611,0.081288,0.086092,0.422640,0.441870,0.480734,0.472985,0.480450,0.491615
158,United States,14.799817,14.996616,14.771715,14.588052,15.235207,15.730414,90.317149,90.304726,90.190113,90.064438,90.047743,89.826369
159,Uruguay,0.002296,0.002126,0.002253,0.002423,0.002551,0.001828,0.014010,0.012800,0.013758,0.014961,0.015077,0.010439
160,Venezuela,0.016028,0.015858,0.016538,0.014880,0.014242,0.012329,0.097812,0.095491,0.100975,0.091867,0.084179,0.070404
161,Vietnam,0.000043,0.000043,0.000085,NaN,NaN,NaN,0.000259,0.000256,0.000519,NaN,NaN,NaN
162,Yemen,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000256,NaN,NaN,NaN,NaN
163,Zambia,NaN,NaN,NaN,NaN,NaN,0.000043,NaN,NaN,NaN,NaN,NaN,0.000243
164,Zimbabwe,NaN,NaN,NaN,0.000085,NaN,NaN,NaN,NaN,NaN,0.000525,NaN,NaN